h2 {
    font-size: large;
}

input[type="checkbox"] {
    appearance: none; /* Remove default checkbox styling */
    width: 20px;
    height: 20px;
    border: 2px solid #333; /* Border color */
    border-radius: 4px; /* Rounded corners */
    cursor: pointer;
    vertical-align: middle; /* Align checkbox with text */
    margin-right: 8px; /* Add space between checkbox and text */
    position: relative; /* Required for pseudo-element positioning */
}

input[type="checkbox"]:checked {
    background-color: orange; /* Background when checked */
    border-color: orange; /* Border when checked */
}

input[type="checkbox"]:checked::after {
    content: '\2713'; /* Unicode checkmark */
    font-size: 16px;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Center the checkmark */
} 



button[type="submit"] {
  padding: 12px;
  width: 100%;
}